body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #000000;
    color: #ffff;
    text-align: center;
}

.header h1 {
    padding: 10px;
}

.head {
    padding: 20px;
}

.navbar {
    background-color: #1d1d1d;
    padding: 20px;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    margin-right: 20px;
    text-decoration: none;
}

nav a:hover {
    color: aqua;
    transition: 0.2s;
}


main {
    display: flex;
    padding: 20px;
}

article {
    flex: 3;
    margin-right: 20px;
}

aside {
    flex: 1;
    background-color: #c9c9c9;
    padding: 25px;
    border-radius: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}




